
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/dtl.css' %}">
    <script src=""></script>
    <title>{{ p_title }}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                 <li class="navlink">{{user.name}}</li>
                {% else %}
                 <li class="navlink">Login</li>
                {% endif %}
               
                <li id="logo">{{ p_title }}</li>
                <li class="navlink">About</li>
                <li class="navlink">Home</li>
                
            </ul>
        </nav>
    </header>
    <div class="regdiv">
        <form action="">
            <input placeholder="username" name="username" type="text">
            <input placeholder="email" name="email" type="email">
            <input placeholder="Password" name="password" type="password">
            <input placeholder="Confirm Password" required="password" >
            <input type="submit">
        </form>
    </div>

    


    <footer></footer>
</body>
</html>